{%load static%}
<div class="about-grid-layout">
    <div class="about-text">
        <div class="section-header-left">
            <div class="badge">WHO WE ARE</div>
            <h2> Powering India's<br><span class="text-gradient">Industrial Supply Chain.</h2></span>
            <p class="lead-text">
                Astha Logistics is a premier infrastructure partner facilitating the movement of India's core
                industrial resources.
                With a strategic stronghold in Haldia, we bridge the gap between global ports and domestic
                plants.
            </p>
        </div>
        <p class="body-text">
            From handling bulk cargo at the dock to last-mile delivery across state borders, we combine
            decades of expertise with modern tracking technology to deliver reliability you can bank on.
        </p>
        <a href="#contact" class="link-arrow">Partner With Us <ion-icon name="arrow-forward"></ion-icon></a>
    </div>
    <div class="about-img">
        <img src="{%static 'images/about-image.png' %}" alt="About Section Image">
    </div>
</div>