<div class="contact-section">
    <div class="contact-header">
        <h2>
            Start Your Shipment
        </h2>
        <p>Get a competitive quote within 24 hours.</p>
    </div>
    <div class="contact-wrapper">
        <form class="glass-form">
            <div class="form-group">
                <label for="userName">Your Name</label>
                <input type="text" id="userName" placeholder="Type your Name here..." autocomplete="name">
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="userPhone">Phone Number</label>
                    <input type="tel" id="userPhone" placeholder="+91 91535 XXXXX" autocomplete="tel">
                </div>
                <div class="form-group">
                    <label for="userEmail">Email Address </label>
                    <input type="email" id="userEmail" placeholder="someone@gmail.com" autocomplete="email">
                </div>
            </div>
            <div class="form-group">
                <label for="userMessage">Message / Requirement</label>
                <textarea name="userMessage" id="userMessage" rows="8"
                    placeholder="Tell us about your Shipment Needs..."></textarea>
            </div>
            <button type="submit" class="cta-primary width-full">Send Message</button>
        </form>
        <div class="contact-info-cards">
            <div class="info-card">
                <ion-icon name="location-outline"></ion-icon>
                <div>
                    <h4>Head Office</h4>
                    <p>Mitali Samabay Krishi Unnayan Samiti Ltd.<br>Bhawanipur, Debhog, Haldia<br>Purba
                        Medinipur, Pin-721657</p>
                </div>
            </div>
            <div class="info-card">
                <ion-icon name="call-outline"></ion-icon>
                <div>
                    <h4>Call Us</h4>
                    <p>+91 91234 56789<br>+91 98765 43210</p>
                </div>
            </div>
            <div class="info-card">
                <ion-icon name="mail-outline"></ion-icon>
                <div>
                    <h4>Email Us</h4>
                    <p>info@asthalogistics.com<br>support@asthalogistics.com</p>
                </div>
            </div>
            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20916.417633213685!2d88.06345532195617!3d22.067369172886245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02f1bc966ff019%3A0x27d915a3083385f9!2sSourav%20steel%20workshop(Swapan%20Gumtya)!5e0!3m2!1sen!2sin!4v1767347229087!5m2!1sen!2sin"
                    width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info-card">
                <ion-icon name="time"></ion-icon>
                <div>
                    <h4>Business Hours</h4>
                    <p>Mon - Sat: 9:00 AM - 7:00 PM</p>
                    <p>Sun: Closed</p>
                </div>
            </div>
        </div>
    </div>
</div>