{%load static%}
<header id="home" class="hero">
    <div class="hero-bg">
        <img src="{% static 'images/hero-img.png' %}" alt="Indian Logistics Truck">
        <div class="overlay"></div>
    </div>
    <div class="hero-content">
        <div class="badge pill"> &#127470;&#127475; Haldia Port's Trusted Partner. </div>
        <h1> Raw Material Logistics,<br> <span class="text-gradient">From Port to Plant</span></h1>
        <p>Specialized bulk cargo transport from Haldia Dock Complex to industries across India. Ensuring a steady
            supply chain for your manufacturing needs.</p>
        <div class="hero-buttons">
            <button class="cta-primary">Get Bulk Quote</button>
            <button class="cta-secondary"><ion-icon name="boat-outline"></ion-icon>Port Services</button>
        </div>
        <div class="stats-bar">
            <div class="stats">
                <h3>2M+</h3>
                <p>Tons Delivered</p>
            </div>
            <div class="stats">
                <h3>200+</h3>
                <p>Happy Clients</p>
            </div>
            <div class="stats">
                <h3>5+</h3>
                <p>Years of Experience</p>
            </div>
        </div>
    </div>
</header>