{% load static %}
<div class="team-section-header">
    <h2>Our Leadership</h2>
    <p>The visionaries driving our journey.</p>
</div>
<div class="team-grid">
    <div class="team-card">
        <div class="team-img">
            <ion-icon name="person"></ion-icon>
            <img src="{% static 'images/3111.webp' %}" alt="">
        </div>
        <h3> Mr. Chayan Giri</h3>
        <span class="designation">CEO & Founder</span>
        <p>With over 20 years of experience in the logistics sector, leading Astha to new heights.</p>
        <div class="social-links">
            <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href=""><ion-icon name="mail"></ion-icon></a>
        </div>
    </div>
    <div class="team-card">
        <div class="team-img">
            <ion-icon name="person"></ion-icon>
        </div>
        <h3> Mr.[Name Required]</h3>
        <span class="designation">Chief of Operations</span>
        <p>Ensuring every shipment reaches its destination safely and on time.</p>
        <div class="social-links">
            <a href=""><ion-icon name="mail"></ion-icon></a>
        </div>
    </div>
    <div class="team-card">
        <div class="team-img">
            <ion-icon name="person"></ion-icon>
        </div>
        <h3> Mr.[Name Required]</h3>
        <span class="designation">Investor</span>
        <p>Ensuring every shipment reaches its destination safely and on time.</p>
        <div class="social-links">
            <a href=""><ion-icon name="mail"></ion-icon></a>
        </div>
    </div>
</div>