@import "main.css";

.section {
    /* width: 100%;
    height: 100vh; */
    padding: 100px 5%;
}

.container {
    max-width: 1200px;
}

.section-header h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.section-header p {
    font-size: 18px;
    color: var(--text-gray);
    margin-bottom: 30px;
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.bento-item {
    background-color: var(--navy-light);
}

.truck-card {}